<% if @user.errors.any? %>
  <ol>
    <% @user.errors.full_messages.each do |msg| %>
      <li>
        <%= msg %>
      </li>
    <% end %>
  </ol>
<% end %>

<div class="signupdiv">
<%= form_for @user, :html => { :multipart => true } do |f| %>
  <li><%= f.label :email %></li>
  <li><%= f.email_field :email, :required => true %></li>
  <li><%= f.label :name %></li>
  <li><%= f.text_field :name, :required => true %></li>
  <li><%= label_tag "Profile Picture" %></li>
  <li><%= cl_image_upload_tag :picture %></li>
  <li><%= f.label :password %></li>
  <li><%= f.password_field :password, :required => true %></li>
  <li><%= f.label :password_confirmation %></li>
  <li><%= f.password_field :password_confirmation, :required => true %></li>
  <li><%= f.submit :class => "signupbutton" %></li>
</div>
<% end %>
