<h1><%= "#{ @user.name }" "'s Page" %></h1>

<div class = "userinfo">
<p class="txt"><b>Name:</b> <%= "#{ @user.name }" %></p>

<p class="txt"><%= image_tag(@user.picture, :class => "img-rounded", :width => "400") %></p>

<p class="txt"> Profile created <%= timeago_tag Time.zone.now, :nojs => true, :limit => 30.days.ago %> ago</p>
</div>

<%= form_for Post.new do |f| %>
  <%= f.text_area :content, :class => 'postbox' %>
  <%= f.submit %>
<% end %>

<% @user.posts.reverse.each do |p| %>

  <p class="txt"><%= p.user.name %></p>
  <p class="txt"><%= p.content %></p>
  <p class="txt"><%= image_tag p.user.picture, :class => "img-circle", :width => "45", :height => "45" %></p>
  <p class="txt"><%= timeago_tag p.created_at, :nojs => true, :limit => 30.days.ago %> ago</p>
  <ul>
  <% p.comments.reverse_each do |c| %>
  <li>
    <% if c.user %>
      <%= image_tag c.user.picture, :class => "img-circle", :width => "45", :height => "45" %>
      <%= c.user.name %>
    <% end %>
    <%= c.content %>
    <%= timeago_tag c.created_at, :nojs => true, :limit => 7.days.ago %> ago
  </li>
  <% end %>
  
  </ul>
  <p>
    <%= form_for [p, Comment.new] do |f| %>
      <%= f.label :content, 'Comment' %>
      <%= f.text_area :content %>
      <%= f.submit %>
    <% end %>
  </p>
  <hr>
<% end %>