<h1>/users/:id - This should show all of the details of a particular user</h1>

<p><b>Full name:</b> <%= "#{ @user.name }" %></p>

<p><b>Email:</b> <%= @user.email %></p>

<p><b>Picture:</b> <%= image_tag(@user.picture) %></p>

<p><b>Created At:</b> <%= @user.created_at.strftime( '%A, %B %e, %Y' ) %></p>
<%= timeago_tag Time.zone.now, :nojs => true, :limit => 30.days.ago %>

<%= form_for Post.new do |f| %>
  <%= f.text_area :content %>
  <%= f.submit %>
<% end %>

<% @user.posts.reverse.each do |p| %>

  <p><%= p.user.name %></p>
  <p><%= p.content %></p>
  <p><%= timeago_tag p.created_at, :nojs => true, :limit => 30.days.ago %> ago</p>
  <ul>
  <% p.comments.reverse_each do |c| %>
  <li>
    <% if c.user %>
      <%= c.user.name %>
    <% end %>
    <%= c.content %>
    <%= timeago_tag c.created_at, :nojs => true, :limit => 1.days.ago %> ago

  </li>
  <% end %>
  </ul>
  <p>
    <%= form_for [p, Comment.new] do |f| %>
      <%= f.label :content, 'Comment' %>
      <%= f.text_area :content %>
      <%= f.submit %>
    <% end %>
  </p>
  <hr>
<% end %>