<!DOCTYPE html>
<html>
<head>
  <title>CafeKobo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= cloudinary_js_config %>
</head>
<body>

  <nav>
    <% if @current_user.present? %>
      <%= link_to( "All Users", users_path ) %>
      <%= link_to( 'My Profile', user_path(@current_user) ) %>
      <%= link_to( "Logout #{ @current_user.name }", login_path, :method => :delete) %>
    <% else %>
      <%= link_to( 'Sign up', new_user_path) %> 
      <%= link_to( 'Sign in', login_path) %> 
    <% end %>
  </nav>

  <%= yield %>

</body>
</html>
